*{
  box-sizing: border-box;
}

:root {
  --redValencia : #D94E4E;
  --grayConcrete : #F3F3F3;
}
/* refactor bootstrap */
.mb-2 {
  margin-bottom: 0 !important;
}

.table td, .table th{
  vertical-align: unset !important;
}

/* end refactor */
.container { 
  width: 1000px;
  height: auto;
  padding: 20px;
  /* background-color: aqua; */
  margin: 0 auto;
}

.header{
  display: flex;
}

